
.img-responsive {
    margin-top:-15px;
}



h1 {
    font-size: 50px;
    text-align: center;
    color: #fff;
    padding-top: 30px;
}





.jt-header {
 margin-right: auto;
  margin-left: auto;
   
  
    background-position:  top center;
    background-color: #ffc326;
    background-repeat: no-repeat;
    border-top: 4px solid rgba(71,96,136, 1);
    
    
}

.banner {
    height:500px;
    width:978px;
    overflow:hidden;
}

.navbar-custom {
    .navbar-custom {
    background-color:#229922;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}
}

.navbar-brand {
    margin-top: -20px;
}

.second-ver {
    margin-top :-30px;
}

h5 {
    text-align: center;
    color: #fff;
}

h2 {
    font-size: 2.5em;
   
}
